<template>
  <v-layout row wrap>
    <v-flex xs8 style="padding:20px">
        <v-flex xs12 sm6>
          <v-select
            v-model="endpoints_value"
            :items="endpoints"
            attach
            chips
            label="Endpoints"
            multiple
          ></v-select>
        </v-flex>
    <v-divider></v-divider>
    <br>
    <v-layout row wrap>
      <v-flex v-for="i in apis_show" :key="i['_id']" xs12>
        <v-flex xs12>
          <v-card light>
            <v-layout row wrap>
            <v-flex xs6>
            <v-card-title primary-title style="width:100%;text-align:left;padding:20px 40px 20px 40px">
              <div>
                <!-- <h4 class="headline mb-0" style="font-weight:bold">{{i['endpoint_name'] + ' / ' + i['collection_name']}}</h4> -->
                <h3 style="font-weight:bold">
                    <span style="color:#B71C1C">{{i['endpoint_name']}}</span>
                    <span>{{"  /  "}}</span>
                    <span style="color:#004D40">{{i['collection_name']}}</span>
                </h3>
                <div>{{i['info']}}</div>
                <br>
                <span style="font-weight:bold;font-size:130%">{{i['query']}}</span>
              </div>
            </v-card-title>
            <v-card-actions>
                <v-btn flat small color="error" @click.stop="remove_api(i['_id'],i['endpoint_name'],i['collection_id'])">删除API</v-btn>
                <v-btn flat small color="orange">查看更多</v-btn>
            </v-card-actions>
            </v-flex>
            <v-flex xs6>
              <editor v-model="i['code']" @init="editorInit" lang="Python" softwrap="true" width="100%" height="250px" theme="tomorrow"></editor>
            </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
        <br>
      </v-flex>
    </v-layout>
    </v-flex>

      <v-dialog v-model="dialog_remove" max-width="500px">
      <v-card>
        <v-card-title>
          <span>Delete</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-alert :value="true" type="error">
          {{"API is to be removed!"}}
        </v-alert>
        <v-card-actions>
          <v-btn color="primary" flat @click.stop="dialog_remove=false">No</v-btn>
          <v-btn color="error" flat @click.stop="remove_delete">confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-layout>
</template>

<script>

export default {
  components: {
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.axios({
      method: 'get',
      url: this.url_list.apislist_URL,
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.apis = response.data

          this.endpoints = []
          for (var i in response.data) {
            if (this.endpoints.includes(response.data[i]['endpoint_name']) === false) {
              this.endpoints.push(response.data[i]['endpoint_name'])
              this.endpoints_value = this.endpoints
            }
            let tmp = response.data[i]
            this.apis[i]['code'] = this.form_code(tmp['endpoint_name'], tmp['collection_id'], tmp['query'])
          }
        } else {
          window.alert(response.data.reason)
        }
      })
  },
  watch: {
    endpoints_value: {
      handler: function () {
        this.apis_show = []
        for (var i in this.apis) {
          if (this.endpoints_value.includes(this.apis[i]['endpoint_name'])) {
            this.apis_show.push(this.apis[i])
          }
        }
      },
      deep: true
    }
  },
  data () {
    return {
      token: '',
      endpoints: '',
      endpoints_value: [],
      url_list: {
        apislist_URL: this.getGlobalURL() + '/api/api/list'
      },
      apis: '',
      apis_show: '',
      api_to_be_remove: '',
      endpoint_to_be_remove: '',
      collection_to_be_remove: '',
      dialog_remove: false
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    remove_api (id, endpoint, collection) {
      this.api_to_be_remove = id
      this.endpoint_to_be_remove = endpoint
      this.collection_to_be_remove = collection
      this.dialog_remove = true
    },
    remove_delete () {
      this.axios({
        method: 'DELETE',
        url: this.getGlobalURL() + '/api/api/' + encodeURIComponent(this.endpoint_to_be_remove) + '/' + encodeURIComponent(this.collection_to_be_remove) + '/' + this.api_to_be_remove,
        headers: {'Authorization': this.token},
        data: null
      })
        .then((response) => {
          window.alert(response.data.msg)
          this.dialog_remove = false
          location.reload()
        })
    },
    form_code (endpoint, collection, query) {
      return "this.axios({\n method: 'post',\n url: \"/api/" + endpoint + '/' + collection + "/query\",\n headers: {'Authorization': " + this.token + '},\n data: JSON.parse(' + query + ')\n})\n.then((response) => {\n window.alert(response.data.reason)\n})\n'
    }
  }
}
</script>
