<template>
  <v-layout column>
    <v-container>
        <v-flex style="text-align: left">
          <h3 style="font-weight:bold;color:grey">{{endpoint}}</h3>
          <br>
          <h4 class="display-1" style="font-weight:bold">{{collection_info['Collection_name'] + ' --- 创建 API'}}</h4>
          <v-divider class="my-3"></v-divider>
                      <v-tabs icons-and-text centered color="transparent">
              <v-tabs-slider color="primary"></v-tabs-slider>
              <v-tab href="#tab-1">
                测试
                <v-icon>file_copy</v-icon>
              </v-tab>
              <v-tab href="#tab-2">
                Code
                <v-icon>code</v-icon>
              </v-tab>
              <v-tab-item key=1 id="tab-1">
                  <v-jumbotron>
                    <v-container fill-height>
                      <v-layout align-center>
                        <v-flex>
                          <v-text-field outline height="80" style="font-weight:bold;font-size:200%" v-model="query"></v-text-field>
                          <span class="subheading">在上方输入搜索Query,并点击按钮确保正确.</span>
                          <v-divider class="my-3"></v-divider>
                          <v-btn class="mx-0" color="primary" large @click.stop="fetch_data">Query</v-btn>
                          <v-btn class="mx-0" color="error" large @click.stop="save_button">Save</v-btn>
                        </v-flex>
                      </v-layout>
                    </v-container>
                  </v-jumbotron>
                <v-card color="transparent">
                  <vue-json-editor style="width:100%" v-model="collection_data" :showBtns="false" @json-change="onJsonChange"></vue-json-editor>
                </v-card>
              </v-tab-item>
              <v-tab-item key=2 id="tab-2">
                <v-flex style="text-align: left" xs12>
                  <v-card-title><b>使用以下代码使用Python获取数据，适用于数据分析人员。(未来会增加适用于前段可视化的JavaScript代码。)</b></v-card-title>
                  <editor v-model="fetchquery" @init="editorInit" lang="python" softwrap="true" width="100%" height="250px" theme="tomorrow"></editor>
                </v-flex>
              </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-container>

    <v-dialog v-model="dialog_save" persistent max-width="500px">
      <v-card>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field readonly label="endpoint_name" :value="endpoint" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field readonly label="collection_name" :value="collection_info['Collection_name']" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field readonly label="collection_id" :value="collection" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field readonly label="query" :value="query" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-textarea
                v-model="info"
                >
                <div slot="label">
                  API说明文档 <small>(required)</small>
              </div>
            </v-textarea>
          </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click.native="dialog_save = false">返回</v-btn>
          <v-btn color="error" :disabled="info === '' || query === ''" @click.native="save_api">保存API</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>

import vueJsonEditor from 'vue-json-editor'
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    vueJsonEditor,
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.endpoint = this.$route.params.EndpointName
    this.collection = this.$route.params.CollectionID

    this.axios({
      method: 'get',
      url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/info',
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.collection_info = response.data
        } else {
          window.alert(response.data.reason)
        }
      })
    this.fetchquery = PythonCodeModule.fetchquery(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/query', this.token, this.query)
  },
  watch: {
    query: {
      handler: function () {
        this.fetchquery = PythonCodeModule.fetchquery(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/query', this.token, this.query)
      }
    }
  },
  data () {
    return {
      endpoint: '',
      token: '',
      collection_info: '',
      collection_data: '',
      query: '',
      fetchquery: '',
      dialog_save: false,
      info: ''
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    fetch_data () {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/query',
        headers: {'Authorization': this.token},
        data: JSON.parse(this.query)
      })
        .then((response) => {
          if (response.data.result !== 'failed') {
            this.collection_data = response.data
          } else {
            window.alert(response.data.reason)
          }
        })
    },
    save_button () {
      this.dialog_save = true
    },
    save_api () {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/create',
        headers: {'Authorization': this.token},
        data: {'endpoint_name': this.endpoint, 'collection_name': this.collection_info['Collection_name'], 'collection_id': this.collection, 'query': this.query, 'info': this.info}
      })
        .then((response) => {
          if (response.data.result === 'success') {
            window.alert(response.data.msg)
          } else {
            window.alert(response.data.msg)
          }
        })
      this.dialog_save = false
    }
  }
}
</script>
