<template>
  <v-layout row wrap>
    <v-flex xs8 style="padding:20px">
      <v-layout align-center>
        <v-flex>
          <h3 class="display-2" style="font-weight:bold">{{endpoint}}</h3>
          <v-divider class="my-3"></v-divider>
          <!-- Below are collections -->
          <v-expansion-panel popout>
            <v-expansion-panel-content
            v-for="(collection, i) in collection_list"
            :key="i"
            hide-actions
            >
              <v-layout slot="header" align-center row spacer>
                <v-flex xs2 sm1 md1>
                  <v-avatar
                  slot="activator"
                  size="36px"
                  >
                    <v-icon color="blue">database</v-icon>
                  </v-avatar>
                </v-flex>
                <v-flex sm5 md4 hidden-xs-only>
                  <strong v-html="collection.collection_name"></strong>
                </v-flex>
                <v-flex no-wrap xs7 sm5>
                  <span v-html="'_id: ' + collection._id"></span>
                </v-flex>
                <!-- <v-flex
                  class="grey--text"
                  ellipsis
                  hidden-sm-and-down
                >
                  {{'Create Date: ' + collection.create_at_str }}
                </v-flex> -->
                <v-flex no-wrap xs5 sm3>
                  <v-btn-toggle>
                    <v-btn flat @click.stop="$router.push('/' + endpoint + '/' + collection._id + '/get')"> <v-icon color="teal">visibility</v-icon></v-btn>
                    <v-btn flat @click.stop="$router.push('/' + endpoint + '/' + collection._id + '/add')"><v-icon color="teal">note_add</v-icon></v-btn>
                    <v-btn flat @click.stop="remove_collection(collection.collection_name, collection._id)"><v-icon color="teal">delete_forever</v-icon></v-btn>
                    <v-btn flat @click.stop="$router.push('/' + endpoint + '/' + collection._id + '/create_api')"><v-icon color="teal">linear_scale</v-icon></v-btn>
                  </v-btn-toggle>
                </v-flex>
              </v-layout>
              <v-card>
                <v-divider></v-divider>
                <v-card-text v-text="'Description: ' + collection.collection_des"></v-card-text>
              </v-card>
            </v-expansion-panel-content>
              <v-flex xs1>
                <v-btn color="primary" dark @click.stop="create_collection()">Create</v-btn>
              </v-flex>
          </v-expansion-panel>
          <br>
        </v-flex>
      </v-layout>
    </v-flex>

    <v-flex style="text-align: left;padding:20px" xs4>
      <v-subheader>Python Code</v-subheader>
      <v-tabs left>
        <v-tab href="#tab-1">1</v-tab>
        <v-tab href="#tab-2">2</v-tab>
        <v-tab href="#tab-3">3</v-tab>
        <!-- <v-tab href="#tab-4">4</v-tab> -->
        <v-tab-item key=1 id="tab-1">
          <v-card-title><b>1. 查看该Endpoint下的所有Collection，以及自己的操作权限。</b></v-card-title>
          <editor v-model="getcollectionlist" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=2 id="tab-2">
          <v-card-title><b>2. 使用以下代码创建新的Collection。</b></v-card-title>
          <editor v-model="createcollection" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=3 id="tab-3">
          <v-card-title><b>3. 使用以下代码删除某一个Collection。</b></v-card-title>
          <editor v-model="removecollection" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <!-- <v-tab-item key=4 id="tab-4">
          <v-card-title><b>4. Only for test</b></v-card-title>
          <editor v-model="tmp.data" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
          {{tmp}}
        </v-tab-item> -->
      </v-tabs>
    </v-flex>

     <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline" style="font-weight:bold">Create Collection</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="collection name" v-model="create_form.collection_name" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field multi-line label="collection desciption" v-model="create_form.collection_des" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.stop="add_collection">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_remove" max-width="500px">
      <v-card>
        <v-card-title>
          <span>Delete</span>
          <v-spacer></v-spacer>
          </v-card-title>
          <v-alert :value="true" type="error">
            {{name_to_be_remove + " from " + endpoint + " is to be removed."}}
          </v-alert>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="dialog_remove=false">No</v-btn>
            <v-btn color="error" flat @click.stop="remove_delete">confirm</v-btn>
          </v-card-actions>
      </v-card>
    </v-dialog>
</v-layout>
</template>

<script>
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.endpoint = this.$route.params.EndpointName
    this.axios({
      method: 'get',
      url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/list',
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.collection_list = response.data
        } else {
          window.alert(response.data.msg)
        }
      })
    this.getcollectionlist = PythonCodeModule.getcollectionlist(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/list', this.token)
    this.createcollection = PythonCodeModule.createcollection(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/create', this.token)
    this.removecollection = PythonCodeModule.removecollection(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/remove', this.token)
  },
  data () {
    return {
      endpoint: '',
      token: '',
      collection_list: '',
      dialog: false,
      create_form: {
        collection_name: 'e.g. POI_Shanghai',
        collection_des: 'e.g. This is a POI information collected for Shanghai....'
      },
      dialog_remove: false,
      id_to_be_remove: '',
      name_to_be_remove: '',
      // Below are code part
      getcollectionlist: '',
      createcollection: '',
      removecollection: ''
      // tmp: {data: ''}
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    create_collection () {
      this.dialog = true
    },
    add_collection () {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/create',
        headers: {'Authorization': this.token},
        data: this.create_form
      })
        .then((response) => {
          window.alert(response.data.msg)
          location.reload()
        })
      this.dialog = false
    },
    remove_collection (name, id) {
      this.name_to_be_remove = name
      this.id_to_be_remove = id
      this.dialog_remove = true
    },
    remove_delete () {
      this.axios({
        method: 'DELETE',
        url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.id_to_be_remove),
        headers: {'Authorization': this.token},
        data: null
      })
        .then((response) => {
          window.alert(response.data.msg)
          location.reload()
        })
      this.dialog_remove = false
    }
  }
}
</script>
