<template>
  <v-layout row wrap>
    <v-flex xs8 style="padding:20px">
    <v-flex xs1>
      <v-btn color="primary" dark @click.stop="create_endpoint()">Create</v-btn>
    </v-flex>
    <v-divider></v-divider>
    <v-layout row wrap>
      <v-flex v-for="i in endpoints" :key="i['_id']" xs4>
        <v-flex>
          <v-card style="margin:20px">
            <v-card-media src="/static/endpoints.jpg" height="130px">
            </v-card-media>
            <v-card-title primary-title>
              <div style="text-align: left">
                <h3 class="headline mb-0" style="font-weight: bold">{{i['endpoint_name']}}</h3>
                <div style="color:grey">{{'_id: ' + i['_id']}}</div>
                <div style="color:grey">{{'collection_list: ' + i['collection_list']}}</div>
                <div style="color:grey">{{'created by ' + i['username'] + " at " + i['create_at_str']}}</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn small color="link" @click.stop="set_member(i['endpoint_name'])">人员</v-btn>
              <v-btn small color="primary" @click.stop="$router.push('/endpoint/' + i['endpoint_name'] + '/')">查看</v-btn>
                        <v-flex xs4 sm2 md1>
            <v-avatar
              slot="activator"
              size="36px"
            >
              <v-btn flat @click.stop="remove_endpoint(i['endpoint_name'], i['_id'])" icon color="red lighten-2">
                <v-icon>delete_forever</v-icon>
              </v-btn>
            </v-avatar>
          </v-flex>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-flex>
    </v-layout>
    </v-flex>
    <v-flex style="text-align: left;padding:20px" xs4>
      <v-subheader>Python Code</v-subheader>
      <v-tabs left>
        <v-tab href="#tab-1">1</v-tab>
        <v-tab href="#tab-2">2</v-tab>
        <v-tab href="#tab-3">3</v-tab>
        <!-- <v-tab href="#tab-4">4</v-tab> -->
        <v-tab-item key=1 id="tab-1">
          <v-card-title><b>1. 使用以下代码获取所有自己有权限得Endpoint，（目前的版本只能实现管理员通看）。</b></v-card-title>
          <editor v-model="getendpointlist" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=2 id="tab-2">
          <v-card-title><b>2. 使用以下代码创建新的Endpoint，仅限管理员。</b></v-card-title>
          <editor v-model="createendpoint" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=3 id="tab-3">
          <v-card-title><b>3. 使用以下代码删除某一个Endpoint。</b></v-card-title>
          <editor v-model="removeendpoint" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <!-- <v-tab-item key=4 id="tab-4">
          <v-card-title><b>4. Only for test</b></v-card-title>
          <editor v-model="tmp.data" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
          {{tmp}}
        </v-tab-item> -->
      </v-tabs>
    </v-flex>

   <v-dialog v-model="dialog" persistent max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline" style="font-weight:bold">Create Endpoints</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <!-- <v-flex xs12 sm6 md4>
                <v-text-field label="Legal first name" required></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field label="Legal middle name" hint="example of helper text only on focus"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field
                  label="Legal last name"
                  hint="example of persistent helper text"
                  persistent-hint
                  required
                ></v-text-field>
              </v-flex> -->
              <v-flex xs12>
                <v-text-field label="endpoint name" v-model="create_form.endpoint_name" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field multi-line label="endpoint desciption" v-model="create_form.endpoint_desc" required></v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field  label="collection list" v-model="create_form.collection_list" required></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" flat @click.native="dialog = false">Close</v-btn>
          <v-btn color="blue darken-1" flat @click.stop="add_endpoint">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog_remove" max-width="500px">
      <v-card>
        <v-card-title>
          <span>Delete</span>
          <v-spacer></v-spacer>
        </v-card-title>
        <v-alert :value="true" type="error">
          {{name_to_be_remove + " is to be removed."}}
        </v-alert>
        <v-card-actions>
          <v-btn color="primary" flat @click.stop="dialog_remove=false">No</v-btn>
          <v-btn color="error" flat @click.stop="remove_delete">confirm</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialog_people" width="500">
      <v-card>
        <v-card-title
          class="headline font-weight-regular blue-grey white--text"
          primary-title
        >
          <b>{{'项目人员 - ' + name_to_be_setmember}}</b>
        </v-card-title>

    <v-card-text style="width:80%;text-align:center;margin:auto">
      <v-autocomplete
        v-model="account_to_be_selected"
        :items="users"
        :label="选择账号"
        persistent-hint
        prepend-icon="people"
      >
        <v-slide-x-reverse-transition
          slot="append-outer"
          mode="out-in"
        >
          <v-icon
            @click="add_account()"
          >add</v-icon>
        </v-slide-x-reverse-transition>
      </v-autocomplete>
      <div v-for="i in auth" :key="i['_id']">
     <v-layout row wrap class="text-xs-center d-flex align-center" style="height:30px">
      <v-flex xs5><strong>{{i['user']}}</strong></v-flex>
      <v-flex xs3><v-checkbox label="只读" @change="onCheckboxChange" v-model="i['status']['Read']"></v-checkbox></v-flex>
      <v-flex xs3><v-checkbox label="修改" @change="onCheckboxChange" v-model="i['status']['Write']"></v-checkbox></v-flex>
    </v-layout>
      </div>
    <br>
    </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="modify_member()"
          >
            确认
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</v-layout>
</template>

<script>
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.axios({
      method: 'get',
      url: this.url_list.endpointslist_URL,
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.endpoints = response.data
        } else {
          window.alert(response.data.msg)
        }
      })
    this.axios({
      method: 'get',
      url: this.url_list.userlist_URL,
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.users = []
          for (var i in response.data) {
            this.users.push(response.data[i]['username'])
          }
        } else {
          window.alert(response.data.msg)
        }
      })

    this.getendpointlist = PythonCodeModule.getendpointlist(this.url_list.endpointslist_URL, this.token)
    this.createendpoint = PythonCodeModule.createendpoint(this.url_list.createendpoint_URL,
      this.token,
      this.create_form.endpoint_name,
      this.create_form.endpoint_desc,
      this.create_form.collection_list)
    this.removeendpoint = PythonCodeModule.removeuser(this.url_list.removeendpoint_URL, this.token)
  },
  data () {
    return {
      token: '',
      endpoints: '',
      url_list: {
        endpointslist_URL: this.getGlobalURL() + '/api/endpoints/list',
        createendpoint_URL: this.getGlobalURL() + '/api/endpoints/create',
        removeendpoint_URL: this.getGlobalURL() + '/api/endpoints/',
        userlist_URL: this.getGlobalURL() + '/api/users/list'
      },
      dialog: false,
      create_form: {
        endpoint_name: 'NASA Project',
        endpoint_desc: 'This is a node holding data for NASA project, like Space coordinate, time speed, relative theory... (我编不下去了).',
        collection_list: 'NASA_list'
      },
      dialog_people: false,
      name_to_be_setmember: '',
      dialog_remove: false,
      id_to_be_remove: '',
      name_to_be_remove: '',
      getendpointlist: '',
      createendpoint: '',
      removeendpoint: '',
      // tmp: {data: ''}
      account_to_be_selected: '',
      users: '',
      auth: []
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    create_endpoint () {
      this.dialog = true
    },
    set_member (name) {
      this.name_to_be_setmember = name

      this.axios({
        method: 'get',
        url: this.getGlobalURL() + '/api/auth/' + encodeURIComponent(this.name_to_be_setmember) + '/',
        headers: {'Authorization': this.token},
        data: null
      })
        .then((response) => {
          if (response.data.result === 'success') {
            this.auth = response.data.data['auth']
          } else {
            this.auth = []
          }
        })

      this.dialog_people = true
    },
    add_account () {
      if (this.account_to_be_selected !== '') {
        var tmpnotexist = true
        for (var i in this.auth) {
          if (this.account_to_be_selected === this.auth[i]['user']) {
            tmpnotexist = false
            window.alert('User already exist in the auth.')
          }
        }
        if (tmpnotexist === true) {
          let tmp = {'user': this.account_to_be_selected,
            'status': {'Read': true, 'Write': true}
          }
          this.auth.push(tmp)
        }
      } else {
        window.alert('Something is wrong...')
      }
    },
    onCheckboxChange () {
      for (var i in this.auth) {
        if (this.auth[i]['status']['Read'] === false & this.auth[i]['status']['Write'] === false) {
          this.auth.splice(i, 1)
        }
      }
    },
    modify_member () {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/auth/' + encodeURIComponent(this.name_to_be_setmember) + '/',
        headers: {'Authorization': this.token},
        data: this.auth
      })
        .then((response) => {
          if (response.data.result !== 'failed') {
            window.alert(response.data.msg)
          } else {
            window.alert(response.data.msg)
          }
        })
      this.dialog_people = false
    },
    add_endpoint () {
      this.axios({
        method: 'post',
        url: this.url_list.createendpoint_URL,
        headers: {'Authorization': this.token},
        data: this.create_form
      })
        .then((response) => {
          window.alert(response.data.msg)
          this.dialog = false
          location.reload()
        })
    },
    remove_endpoint (name, id) {
      this.name_to_be_remove = name
      this.id_to_be_remove = id
      this.dialog_remove = true
    },
    remove_delete () {
      this.axios({
        method: 'DELETE',
        url: this.url_list.removeendpoint_URL + encodeURIComponent(this.id_to_be_remove),
        headers: {'Authorization': this.token},
        data: null
      })
        .then((response) => {
          window.alert(response.data.msg)
          this.dialog_remove = false
          location.reload()
        })
    }
  }
}
</script>
