<template>
  <v-footer height="150px" class="grey darken-3">
    <v-layout row wrap justify-center>
      <v-btn
          v-for="icon in icons"
          :key="icon"
          icon
          class="mx-2 white--text"
      >
        <v-icon size="24px">{{ icon }}</v-icon>
      </v-btn>
      <v-flex xs12 py-3 text-xs-center white--text>
        &copy;2018 — <strong>DataFusion</strong>
      </v-flex>
    </v-layout>
  </v-footer>
</template>

<script>
export default {
  data: () => ({
    links: ['Home', 'About Us', 'Team', 'Services', 'Blog', 'Contact Us'],
    icons: ['fab fa-facebook', 'fab fa-twitter', 'fab fa-google-plus', 'fab fa-linkedin', 'fab fa-instagram', 'fas fa-newspaper', 'contact_phone']
  })
}
</script>
