<template>
  <v-layout column>
    <v-container>
        <v-flex style="text-align: left">
          <h3 style="font-weight:bold;color:grey">{{endpoint}}</h3>
          <br>
          <h4 class="display-1" style="font-weight:bold">{{collection_info['Collection_name']}}</h4>
          <v-divider class="my-3"></v-divider>
                      <v-tabs icons-and-text centered color="transparent">
              <v-tabs-slider color="primary"></v-tabs-slider>
              <v-tab href="#tab-1">
                Paste
                <v-icon>file_copy</v-icon>
              </v-tab>
              <v-tab href="#tab-2">
                Code
                <v-icon>code</v-icon>
              </v-tab>
              <v-tab-item key=1 id="tab-1">
                <v-card color="transparent">
                  <v-layout row wrap style="text-align: center">
                    <v-flex xs3>
                      <v-slider :max="1000000" v-model="offset" label="Offset"></v-slider>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field v-model="offset" type="number"></v-text-field>
                    </v-flex>
                    <v-flex xs4>
                      <v-btn round color="primary" dark @click.stop="fetch_data()">Fetch Data</v-btn>
                    </v-flex>
                    <v-flex xs3>
                      <v-slider :min="1" :max="500" v-model="limit" label="Limit"></v-slider>
                    </v-flex>
                    <v-flex xs1>
                      <v-text-field v-model="limit" type="number"></v-text-field>
                    </v-flex>
                    <vue-json-editor style="width:100%" v-model="collection_data" :showBtns="false" @json-change="onJsonChange"></vue-json-editor>
                  </v-layout>
                </v-card>
              </v-tab-item>
              <v-tab-item key=2 id="tab-2">
                <v-flex style="text-align: left" xs12>
                  <v-card-title><b>使用以下代码使用Python获取数据，适用于数据分析人员。(未来会增加适用于前段可视化的JavaScript代码。)</b></v-card-title>
                  <editor v-model="fetchdata" @init="editorInit" lang="python" softwrap="true" width="100%" height="250px" theme="tomorrow"></editor>
                </v-flex>
              </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-container>
  </v-layout>
</template>

<script>

import vueJsonEditor from 'vue-json-editor'
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    vueJsonEditor,
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.endpoint = this.$route.params.EndpointName
    this.collection = this.$route.params.CollectionID

    this.axios({
      method: 'get',
      url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/info',
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.collection_info = response.data
        } else {
          window.alert(response.data.reason)
        }
      })
    this.fetchdata = PythonCodeModule.fetchdata(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection), this.token)
  },
  data () {
    return {
      endpoint: '',
      token: '',
      offset: 0,
      limit: 10,
      collection_info: '',
      collection_data: '',
      fetchdata: ''
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    fetch_data () {
      this.axios({
        method: 'get',
        url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '?limit=' + this.limit + '&offset=' + this.offset,
        headers: {'Authorization': this.token}
      })
        .then((response) => {
          if (response.data.result !== 'failed') {
            this.collection_data = response.data
          } else {
            window.alert(response.data.reason)
          }
        })
    },
    onJsonChange () {
      window.alert('JSON could be modified, but this function is not avaliable now.')
    }
  }
}
</script>
