<template>
  <div>
  <v-toolbar dark color="grey darken-3">
    <v-toolbar-title class="white--text" style="font-weight:bold">API Platform</v-toolbar-title>
    <v-spacer></v-spacer>
      <v-tooltip bottom>
        <v-btn dark slot="activator" @click.stop="$router.push('/')">
          <v-icon>home</v-icon>
        </v-btn>
        <span>Home</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn dark slot="activator" @click.stop="$router.push('/user')">
          <v-icon>supervisor_account</v-icon>
        </v-btn>
        <span>User</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn dark slot="activator" @click.stop="$router.push('/endpoints')">
          <v-icon>dns</v-icon>
        </v-btn>
        <span>Endpoint</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn dark slot="activator" @click.stop="$router.push('/apis')">
          <v-icon>linear_scale</v-icon>
        </v-btn>
        <span>API</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn slot="activator" icon>
          <v-icon>search</v-icon>
        </v-btn>
        <span>Search, (我还没有做)</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn slot="activator" icon>
          <v-icon>announcement</v-icon>
        </v-btn>
        <span>消息, (我还没有做)</span>
      </v-tooltip>

      <v-tooltip bottom>
        <v-btn slot="activator" v-if="username == ''" icon @click.stop="dialog = true">
          <v-icon>account_circle</v-icon>
        </v-btn>
        <v-btn slot="activator" v-else icon @click.stop="dialog = true">
          <v-avatar size="28px">
          <img src="/static/logo.jpg" alt="John">
          </v-avatar>
        </v-btn>
        <span>Login/Logout/Register</span>
      </v-tooltip>
  </v-toolbar>

       <v-dialog
        v-model="dialog"
        fullscreen
        transition="dialog-bottom-transition"
        :overlay="false"
        scrollable
      >
        <v-card tile>
          <v-toolbar card dark color="grey darken-3">
            <v-btn icon @click.native="dialog = false" dark>
              <v-icon>close</v-icon>
            </v-btn>
            <v-toolbar-title>登录/注册/其他</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn dark flat @click.native="dialog = false">Close</v-btn>
            </v-toolbar-items>
          </v-toolbar>

          <v-card-text>
            <v-layout v-if="username == ''" row wrap>
              <v-flex xs4>
            <v-list three-line subheader>
              <v-subheader>登 录</v-subheader>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-flex xs12>
                  <v-text-field label="Username" v-model="login_form.username" required></v-text-field>
              </v-flex>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                <v-flex xs12>
                <v-text-field label="Password" v-model="login_form.password" type="password" required></v-text-field>
              </v-flex>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-btn color="grey darken-3" dark @click.stop="login_click">登 录</v-btn>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
              </v-flex>
              <v-flex xs8>
                <v-subheader>Python Code</v-subheader>
                <v-list-tile-content>
                  <editor v-model="loginpycode" @init="editorInit" lang="python" softwrap="true" height="90%" theme="tomorrow"></editor>
                </v-list-tile-content>
              </v-flex>
            </v-layout>

            <v-list v-else>
                <v-list-tile-content>
                  <v-subheader>{{"Welcome " + username + "!"}}</v-subheader>
                  <v-flex xs12>
                    <v-btn color="error" @click.stop="logout_click">退 出</v-btn>
                  </v-flex>
                </v-list-tile-content>
            </v-list>

            <v-divider></v-divider>
            <br>
             <v-layout v-if="username == ''" row wrap>
              <v-flex xs4>
              <v-list three-line subheader>
              <v-subheader>注 册</v-subheader>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-flex xs12>
                    <v-text-field label="Username" v-model="register_form.username" required></v-text-field>
                  </v-flex>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-flex xs12>
                    <v-text-field label="Password" v-model="register_form.password" type="password" required></v-text-field>
                  </v-flex>
                </v-list-tile-content>
              </v-list-tile>
              <v-list-tile avatar>
                <v-list-tile-content>
                  <v-btn color="grey darken-3" dark @click.stop="register_click">注 册</v-btn>
                </v-list-tile-content>
              </v-list-tile>
            </v-list>
              </v-flex>
              <v-flex xs8>
                <v-subheader>Python Code</v-subheader>
                <v-list-tile-content>
                  <editor v-model="regpycode" @init="editorInit" lang="python" softwrap="true" height="90%" theme="tomorrow"></editor>
                </v-list-tile-content>
              </v-flex>
            </v-layout>
          </v-card-text>
        </v-card>
      </v-dialog>
  </div>
</template>

<script>
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    editor: require('vue2-ace-editor')
  },
  created: function () {
    let username = this.$cookie.get('dfusername')
    let token = this.$cookie.get('dftoken')
    if (token != null) {
      this.$store.commit('setuser', {'username': username, 'token': token})
      this.username = username
    }
    this.loginpycode = PythonCodeModule.login(this.url_list.login_URL, this.login_form.username, this.login_form.password)
    this.regpycode = PythonCodeModule.register(this.url_list.register_URL, this.register_form.username, this.register_form.password)
  },
  watch: {
    register_form: {
      handler: function () {
        this.regpycode = PythonCodeModule.register(this.url_list.register_URL, this.register_form.username, this.register_form.password)
      },
      deep: true
    },
    login_form: {
      handler: function () {
        this.loginpycode = PythonCodeModule.login(this.url_list.login_URL, this.login_form.username, this.login_form.password)
      },
      deep: true
    }
  },
  data () {
    return {
      navbutton: 5,
      dialog: false,
      dialog2: false,
      username: '',
      token: '',
      login_form: {
        username: '',
        password: ''
      },
      register_form: {
        username: '',
        password: ''
      },
      url_list: {
        login_URL: this.getGlobalURL() + '/user/authenticate',
        register_URL: this.getGlobalURL() + '/user/register'
      },
      loginpycode: '',
      regpycode: ''
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    login_click () {
      // window.alert(this.url_list.login_URL)
      this.axios.post(this.url_list.login_URL, this.login_form)
        .then((response) => {
          if (response.data.result === 'successful') {
            this.$router.push('/')
            this.$store.commit('setuser', {'username': response.data.username, 'token': response.data.token})
            this.$cookie.set('dftoken', response.data.token, 200)
            this.$cookie.set('dfusername', response.data.username, 20)
            this.username = response.data.username
            this.token = response.data.token
            this.dialog = false
          } else if (response.data.result === 'Failed, pls provide correct password!') {
            window.alert('Password Failed')
          } else {
            window.alert('No such user')
          }
        })
    },
    logout_click () {
      this.$router.push('/')
      this.$store.commit('removeuser')
      this.$cookie.delete('dftoken')
      this.$cookie.delete('dfusername')
      this.username = ''
      this.token = ''
      this.dialog = false
    },
    register_click () {
      this.axios.post(this.url_list.register_URL, this.register_form)
        .then((response) => {
          if (response.data.result === 'successful') {
            this.$router.push('/')
            this.$store.commit('setuser', {'username': response.data.username, 'token': response.data.token})
            this.$cookie.set('dftoken', response.data.token, 200)
            this.$cookie.set('dfusername', response.data.username, 20)
            this.username = response.data.username
            this.token = response.data.token
            this.dialog = false
          } else {
            window.alert(response.data.result)
          }
        })
    }
  }
}
</script>
