<template>
  <v-layout column>
    <v-container>
        <v-flex style="text-align: left">
          <h3 style="font-weight:bold;color:grey">{{endpoint}}</h3>
          <br>
          <h4 class="display-1" style="font-weight:bold">{{collection_info['Collection_name']}}</h4>
          <v-divider class="my-3"></v-divider>
            <v-tabs icons-and-text centered color="transparent">
              <v-tabs-slider color="primary"></v-tabs-slider>
              <v-tab href="#tab-1">
                Paste
                <v-icon>file_copy</v-icon>
              </v-tab>
              <v-tab href="#tab-2">
                Upload
                <v-icon>cloud_upload</v-icon>
              </v-tab>
              <v-tab href="#tab-3">
                Code
                <v-icon>code</v-icon>
              </v-tab>
              <v-tab-item key=1 id="tab-1">
                <v-card color="transparent">
                  <v-btn small color="primary" @click.stop="format_json">Format</v-btn>
                  <v-flex xs12>
                    <v-text-field
                    name="input-1"
                    v-model="jsonpost"
                    label="Json copy here"
                    textarea
                    class="body-1"
                    ></v-text-field>
                  </v-flex>
                  <v-btn small color="error" @click.stop="post_json">Append</v-btn>
                </v-card>
              </v-tab-item>
              <v-tab-item key=2 id="tab-2">
                <v-card color="transparent">
                  <v-flex xs12>
                    <file-upload
                    style="width:100%;height:250px"
                    ref="upload"
                    v-model="files"
                    :drop="true"
                    :extensions="['json']"
                    post-action="/post.method"
                    put-action="/put.method"
                    @input-file="inputFile"
                    >
                      <v-jumbotron color="grey" dark style="height:100%">
                        <v-container fill-height>
                          <v-layout align-center>
                            <v-flex text-xs-center>
                              <h3 class="display-2">Drop or select <b>JSON</b> file</h3>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-jumbotron>
                    </file-upload>
                    <v-btn small color="error" @click.stop="upload_json">Upload</v-btn>
                  </v-flex>
                </v-card>
              </v-tab-item>
              <v-tab-item key=3 id="tab-3">
                <v-flex style="text-align: left" xs12>
                  <v-card-title><b>使用以下代码使用Python不断将数据通过API传入数据库</b></v-card-title>
                  <editor v-model="insertdata" @init="editorInit" lang="python" softwrap="true" width="100%" height="250px" theme="tomorrow"></editor>
                </v-flex>
              </v-tab-item>
            </v-tabs>
        </v-flex>
    </v-container>
  </v-layout>
</template>

<script>
import VueUploadComponent from 'vue-upload-component'
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    'file-upload': VueUploadComponent,
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '') {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.endpoint = this.$route.params.EndpointName
    this.collection = this.$route.params.CollectionID

    this.axios({
      method: 'get',
      url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection) + '/info',
      headers: {'Authorization': this.token}
    })
      .then((response) => {
        if (response.data.result !== 'failed') {
          this.collection_info = response.data
        } else {
          window.alert(response.data.reason)
        }
      })
    this.insertdata = PythonCodeModule.insertdata(this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection), this.token)
  },
  data () {
    return {
      endpoint: '',
      token: '',
      offset: 0,
      limit: 10,
      collection_info: '',
      jsonpost: '',
      files: [],
      // below are for python code
      insertdata: ''
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    post_json () {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/' + encodeURIComponent(this.endpoint) + '/' + encodeURIComponent(this.collection),
        headers: {'Authorization': this.token},
        data: JSON.parse(this.jsonpost)
      })
        .then((response) => {
          window.alert(response.data.msg)
          if (response.data.result === 'successful') {
            this.jsonpost = ''
          }
        })
    },
    format_json () {
      this.jsonpost = JSON.stringify(JSON.parse(this.jsonpost), null, 4)
    },
    inputFile: function (newFile, oldFile) {
      if (newFile && oldFile && !newFile.active && oldFile.active) {
        // Get response data
        console.log('response', newFile.response)
        if (newFile.xhr) {
          //  Get the response status code
          console.log('status', newFile.xhr.status)
        }
      }
    }
  }
}
</script>
