<template>
  <v-layout row wrap>
    <v-flex xs8 style="padding:20px">
    <!-- <v-flex xs1>
      <v-btn color="primary" dark @click.stop="">Code</v-btn>
    </v-flex> -->
    <v-expansion-panel popout>
      <v-expansion-panel-content
        v-for="(u, i) in users"
        :key="i"
        hide-actions
      >
        <div slot="header">
        <v-layout class="text-xs-center d-flex align-center">
          <v-flex sm5 md3 hidden-xs-only>
            <v-avatar
              slot="activator"
              size="36px"
            >
              <v-btn flat @click.stop="set_role(u['_id'], u['role'], i)">
                <v-icon v-if="u.role === 'admin'" color="red">people</v-icon>
                <v-icon v-else color="teal">people</v-icon>
              </v-btn>
            </v-avatar>
          </v-flex>
          <v-flex sm5 md3 hidden-xs-only>
            <strong v-html="u.username"></strong>
          </v-flex>
          <!-- <v-flex no-wrap xs5 sm3>
            <span v-html="'_id: ' + u._id"></span>
          </v-flex> -->
          <v-flex
            class="grey--text"
            ellipsis
            hidden-sm-and-down
          >
            {{u.create_at_str }}
          </v-flex>
          <v-flex xs4 sm2 md1>
            <v-avatar
              slot="activator"
              size="36px"
            >
              <v-btn flat @click.stop="remove(u['_id'], u['role'], i)">
                <v-icon color="red">delete_forever</v-icon>
              </v-btn>
            </v-avatar>
          </v-flex>
          <!-- <v-flex no-wrap xs5 sm6 md2>
            <v-flex xs6>
              <v-select
                :items="roles"
                v-model="u.role"
                :append-icon-cb="set_role(u._id)"
                label="role"
                single-line
              ></v-select>
            </v-flex>
          </v-flex> -->
        </v-layout>
         </div>
        <v-card>
          <v-divider></v-divider>
          <v-card-text style="word-break:break-all">
            <h3>{{'_id: ' + u._id}}</h3>
            <v-divider></v-divider><br>
            <h3>Token:</h3>
            <span style="font-size:13px">{{u.token}}</span>
          </v-card-text>
        </v-card>
      </v-expansion-panel-content>
    </v-expansion-panel>
    <br>
    </v-flex>

    <v-flex style="text-align: left;padding:20px" xs4>
      <v-subheader>Python Code</v-subheader>
      <v-tabs left>
        <v-tab href="#tab-1">
          1
        </v-tab>
        <v-tab href="#tab-2">
          2
        </v-tab>
        <v-tab href="#tab-3">
          3
        </v-tab>
        <v-tab-item key=1 id="tab-1">
          <v-card-title><b>1. 使用以下代码获取所有用户信息，目前该功能对管理员生效，在以后的版本中，每一个登录的员工可以在这里看到自己的信息。</b></v-card-title>
          <editor v-model="getuserinfo" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=2 id="tab-2">
          <v-card-title><b>2. 使用以下代码重设用户权限(general或者admin)。</b></v-card-title>
          <editor v-model="setrole" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
        <v-tab-item key=3 id="tab-3">
          <v-card-title><b>3. 使用以下代码删除某一个用户。</b></v-card-title>
          <editor v-model="removeuser" @init="editorInit" lang="python" softwrap="true" width="100%" height="300px" theme="tomorrow"></editor>
        </v-tab-item>
      </v-tabs>
    </v-flex>
  </v-layout>
</template>

<script>
const PythonCodeModule = require('../assets/test_python_code.js')

export default {
  components: {
    editor: require('vue2-ace-editor')
  },
  created: function () {
    if (this.$store.state.token !== '' & this.$store.state.token !== undefined) {
      this.token = this.$store.state.token
    } else {
      this.$router.push('/')
    }
    this.axios.get(this.getGlobalURL() + '/api/users/list', { headers: { 'Authorization': this.token } })
      .then(response => {
        // If request is good...
        if (response.data.result !== 'failed') {
          this.users = response.data
        } else {
          window.alert(response.data.reason)
        }
      })
    this.getuserinfo = PythonCodeModule.getuserinfo(this.getGlobalURL() + '/api/users/list', this.token)
    this.setrole = PythonCodeModule.setrole(this.getGlobalURL() + '/api/users/set_role', this.token)
    this.removeuser = PythonCodeModule.removeuser(this.getGlobalURL() + '/api/users/someone_id', this.token)
    // this.axios({
    //   method: 'get',
    //   url: this.getGlobalURL() + '/api/users/list',
    //   headers: {'Content-Type': 'application/json', 'api_access_token': this.token},
    //   data: {}
    // })
    //   .then((response) => {
    //     if (response.data.result !== 'failed') {
    //       this.users = response.data
    //     } else {
    //       window.alert(response.data.reason)
    //     }
    //   })
  },
  data () {
    return {
      token: '',
      users: '',
      url_list: {
        userlist_URL: this.getGlobalURL() + '/api/users/list'
      },
      roles: ['admin', 'general'],
      getuserinfo: '',
      setrole: '',
      removeuser: ''
    }
  },
  methods: {
    editorInit: function (editor) {
      editor.renderer.setShowGutter(false)
      // editor.setFontSize(13)
      editor.setOption('wrap', true)
      require('brace/ext/language_tools') // language extension prerequsite...
      require('brace/mode/python')
      require('brace/mode/python') // language
      // require('brace/mode/less')
      require('brace/theme/tomorrow')
      // require('brace/snippet/python') // snippet
    },
    set_role (id, role, index) {
      this.axios({
        method: 'post',
        url: this.getGlobalURL() + '/api/users/set_role',
        headers: {'Authorization': this.token},
        data: {'user_id': id}
      })
        .then((response) => {
          if (response.data.result === 'successful') {
            window.alert(response.data.msg)
            if (role === 'general') {
              this.users[index]['role'] = 'admin'
            } else {
              this.users[index]['role'] = 'general'
            }
          } else {
            window.alert(response.data.msg)
          }
        })
    },
    remove (id) {
      this.axios({
        method: 'DELETE',
        url: this.getGlobalURL() + '/api/users/' + encodeURIComponent(id),
        headers: {'Authorization': this.token},
        data: null
      })
        .then((response) => {
          if (response.data.result === 'successful') {
            window.alert(response.data.msg)
            location.reload()
          } else {
            window.alert(response.data.msg)
          }
        })
    }
  }
}
</script>
